APP_NAME="Portal Operativo Laravel"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=America/Guayaquil
APP_URL=http://localhost/SOFTWARECONTABILIDAD/laravel_app/public
CACHE_STORE=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync

LEGACY_APP_ROOT=C:\xampp\htdocs\SOFTWARECONTABILIDAD
LEGACY_PUBLIC_BASE_URL=http://localhost/SOFTWARECONTABILIDAD

PYTHON_SERVICES_ROOT=C:\xampp\htdocs\SOFTWARECONTABILIDAD\python_services
PYTHON_BINARY=python
